
/* This is default helpul CSS to include - dont edit this part unless... you want to */
html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* THE END of default helpful basic CSS to include. EDIT the stuff BELOW this line*/
@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1ED761;
  color: (127,127,127);
  text-align: center;
  font-size: 2em;
}

div.descriptions * {
  opacity:.2
  /* I wanted to hide all of the descriptions at first so I used this technique from Level 11 of css diner */
}

.boring-class {
  /* I used this selector for all of boring class. This would be from level 6 of css diner*/
  width: 40%;
  border: 2px solid forestgreen;
  display: block;
  margin: auto;
}

p{
  font-size: 2em
  /* here I wanted just all of the p class to be larger so I selected it. This would be from level 1
  of css diner*/
}

div iframe:nth-child(2):hover{
  /* here I used a technique from level 18 of css diner to select just the second iframe */
  opacity: 0;
}

div p:last-of-type{
  /* the last technique I used was to select the last description to make it red */
  color: red;
}
