html,
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #004DFF;
  color: white;
  text-align: center;
  font-size: 2em;
}
h1{
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

p{
  margin-bottom: 20%;
}

.secondary-headers {
  color: yellow;
  font-family: 'Lato', sans-serif;
  width: 100%;
  display: block;
  margin-bottom: 2em;
}

.screen-transition {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  object-fit: none;
  object-position: top;
  width: 168%;
  height: 26%;
  bottom: 0px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

.activity-1-buttons{
  margin: 2em;
  display: flex;
  justify-content: space-around;
  padding: inherit;
  margin: inherit;
}

#lovable{
  display: none;
}
#huggable{
  display: none;
}
#comical{
  display: none;
}
